# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.sw*
a.out
*.html
*.sqlite
*.jpg
*.jpeg
*.png
*.gif
*.flv
*.swf
*.tar.*
*.plist

build/tmp/*
chan/build/*
*.old
confuse_ex/
cscope.out
debug/
kyukon/
pugi_lib
pugi_tests/pugi_lib/
test/pugi_lib

