# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.sw*
a.out
*.html
*.sqlite
*.jpg
*.jpeg
*.png
*.gif
*.flv
*.swf
*.tar.*
